---
// Supports weights 400-700
import "@fontsource-variable/kode-mono";
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
  </head>
  <body class="bg-emerald-950 text-neutral-50 font-mono">
    <slot />
    <script src="../scripts/main.js"></script>
  </body>
</html>

<style is:global>
  /** Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-emerald-400;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    to {
      transform: translate(0, 0);
    }
  }
</style>
